{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
    <link rel="stylesheet" href="{% static 'css/indexcss.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap Carrusel-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function(){
          $("#error").hide();

          $("#formulario").submit(function(){
              var mensaje="";

              if($("#Nombre").val().trim().length==0){
                  mensaje= "El nombre está en blanco";
              }
              if($("#Apellido").val().trim().length==0){
                  mensaje= "El apellido está en blanco";
              }
              if($("#Correo").val().trim().length==0){
                  mensaje= "El email está en blanco";
              }
              if($("#Teléfono").val().trim().length==0){
                  mensaje= "El teléfono está en blanco";
              }
              if($("#mensaje").val().trim().length==0){
                  mensaje= "Debe ingresar una consulta";
              }
              if(mensaje !=""){
                  $("#error").html(mensaje);
                  $("#error").show();
                  event.preventDefault();
              }
          });
      })
  </script>
</head>
<body>

    <header class="bg-dark" id="headerLogo">
      <img src="{% static 'images/Logo.png' %}" alt="Logo">
    </header>

      <nav class="navMenu" style="margin-bottom:-3%;">
        <ul id="barra">
          <li><a href="{% url 'inicio'%}">Inicio</a></li>
          <li><a href="{% url 'formulario'%}">Cotización</a></li>
          <li><a href="{% url 'servicio'%}">Servicios</a></li>
          <li><a href="{% url 'productos'%}">Productos</a></li>
        </ul>
    </nav>

    <h1><div class="tittle">Contacto de venta</div></h1>
   
    <section class="formulario" id="formulario">
        
        <form action="procesar.php" enctype="multipart/form-data" method="get" name="formulariocontacto">
        <h4>Formulario Cotización</h4>
        <input class="control" type="text"  name="Nombre" id="Nombre" placeholder="Ingrese su nombre">
        <input class="control" type="text"  name="Apellido" id="Apellido" placeholder="Ingrese su Apellido">
        <input class="control" type="email"  name="Correo" id="Correo" placeholder="Ingrese su Email">
        <input class="control" type="number"  name="Teléfono" id="Teléfono" placeholder="Ingrese su número de Teléfono">
        <textarea class="control input--message" placeholder="Ingresa tu Consulta/Cotización" id="mensaje"></textarea>

        <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
        <div id="error" class="alert alert-danger" role="alert"></div>


        <!--<select name="formulariou" size="2">
            <option value="1">pan </option>
            <option value="2">Cebolla</option>
            <option value="3">Palta</option>
            <option value="4">Mani</option>
            <option value="5">sandia</option>



        </select>-->

        </form>
        


        
    </section>

    <br><br><br><br><br>

    <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="#">Help</a></li>
          <li class="menu__item"><a class="menu__link" href="#">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    
        </ul>
        <p>&copy;2022 ServiExpress | All Rights Reserved</p>
      </footer>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>
</html>